.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 244, 227);
    height: 100vh;
    width: 100vw;
  }
  
  .chart {
    width: 80%;
    max-width: 600px;
  }
  